a {
  &:visited, &:link { color:#1e1e1e; }
  &:hover, &:focus, &:active { color:#888 !important; }
}
.errors {
  p { padding:15px; }
}
.comment-box {
  h3 { margin:0 0 15px 0; padding:0; }
  padding:10px 0;
  border-top: solid 1px #eee;
}
.comment {
  padding:5px 0;
  h4, p { margin:0; padding:0; }
  border-top: solid 1px #eee;
}
